Dear {{ nereid_user.display_name }},

Thank you for signing up.

To verify your account please click on the link below or copy
and paste it to your browser:

{{ nereid_user.get_activation_link(_external=True) }}

Thanks

Team
