Dear {{ nereid_user.display_name }},
<br/>
Thank youf or signing up.
<br/>
To verify your account please 
<a href="{{ nereid_user.get_activation_link(_external=True) }}">click here</a>
or copy and paste it to your browser:
<br/>
{{ nereid_user.get_activation_link(_external=True) }}
<br/>

Thanks
<br/>

Team
