{% trans %}
Dear {% endtrans %} {{ nereid_user.display_name }}{% trans %},
<br/>
<br/>
Thank you for shopping from our store.{% endtrans %}
<br/>
{% trans %}
To view your order details please 
{% endtrans %}
<a href="{{ url_for('sale.sale.render', active_id=sale.id, access_code=sale.guest_access_code, _external=True) }}">{% trans %}click here {% endtrans %}</a>
{% trans %}
or copy and paste it to your browser:
{% endtrans %}
<br/>
{{ url_for('sale.sale.render', active_id=sale.id, access_code=sale.guest_access_code, _external=True) }}
<br/>
<br/>
{% trans %}
Thanks,
<br/>

Team
{% endtrans %}
