Dear {{ customer_name }},

Date: {{ sale.sale_date|dateformat }}
Reference: #{{ sale.reference }}
Amount: {{ sale.total_amount|currencyformat(sale.currency.code) }}

Thank you for shopping with us.

{% if has_request_context() %}
To view your order details please click on the link below or copy
and paste it to your browser:

{{ url_for('sale.sale.render', active_id=sale.id, access_code=sale.guest_access_code, _external=True) }}
{% endif %}

Thanks,
{{ sale.company.party.name }}
