{% extends 'sale_confirmation_email/emails/sale-confirmation-html.html' %}

{% block header %}
    {{ super() }}
    {% block json_ld %}
        {% if has_request_context() %}
            <script type="application/ld+json">
                {{ to_json(sale.as_json_ld())|safe }}
            </script>
        {% endif %}
    {% endblock %}
{% endblock %}

{% block body %}
    Dear {{ customer_name }},
    <br />
    <br />
    Date: {{ sale.sale_date|dateformat }}
    <br />
    Reference: #{{ sale.reference }}
    <br />
    Amount: {{ sale.total_amount|currencyformat(sale.currency.code) }}
    <br />
    <br />
    Thank you for shopping from our store.
    <br /><br />

    {% if has_request_context() %}
        To view your order details please
        <a href="{{ url_for('sale.sale.render', active_id=sale.id, access_code=sale.guest_access_code, _external=True) }}">click here </a>
        or copy and paste it to your browser:

        <br />
        {{ url_for('sale.sale.render', active_id=sale.id, access_code=sale.guest_access_code, _external=True) }}
    {% endif %}
{% endblock %}
