{% extends 'account-base.jinja' %}

{% from '_helpers.jinja' import render_address, render_field %}

{% block main %}
<section class="my-account">
  <div class="container">
    <div class="col-md-12">
        {{ account_header(_('My Account / Address'), 'address-book') }}
      <!-- Account Information -->
      <div class="col-md-10">
        <div class="row">
          <h4 class="account-heading col-md-10">{{ _('My Address Book') }}
            <a href="{{ url_for('party.address.create_address') }}" class="btn btn-info pull-right btn-xs"title=""><i class="fa fa-plus"></i> &nbsp;{{ _('Add new address') }}</a>
          </h4>
        </div>
        <div class="col-md-10">
          <div class="tab-content row">
            <div class="tab-pane active" id="saved-address">
              {% for address in request.nereid_user.party.addresses %}
              <div class="well well-small">
                {{ render_address(address, 'Address # '+ loop.index|string) }}
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock main %}

{% block script_tags %}
  {{ super() }}
<script type="text/javascript">
  $('.account-heading a').click(function() {
    $(this).toggleClass('selected').siblings().addClass("selected");
  });
  $(".remove-address").on('click', function(){
    var current_url = $(this).data('url');
    $.ajax({
      type: "POST",
      url: current_url,
    })
    .success(function () {
      location.reload();         
    });
  });
</script>
{% endblock script_tags %}
