{% extends 'article-category.jinja' %}

{% block title %}{{ article.title }} {{ super() }}{% endblock title %}
{% block meta_description %}{{ (article.description or '')|striptags|truncate(300) }}{% endblock %}

{% block breadcrumb %}
{{ super() }}
{{ render_breadcrumb_item(article.title, article.get_absolute_url()) }}
{% endblock breadcrumb %}

{% block main %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>{{ article.title }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
    <p>{{ article.content|safe }}</p>
    </div>
  </div>
</div>
{% endblock main %}
