{% extends 'home.jinja' %}

{% block title %}{{ category and category.title }} {{ super() }}{% endblock title %}
{% block meta_description %}{{ (category and category.description or '')|striptags|truncate(300) }}{% endblock %}

{% block breadcrumb %}
{{ super() }}
{% if category %}
  {{ render_breadcrumb_item(category.title, category.get_absolute_url()) }}
{% endif %}
{% endblock breadcrumb %}

{% block main %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>{{ category.title }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ul>
        {% for article in category.articles %}
        <li>
          <a href="{{ url_for('nereid.cms.article.render', uri=article.uri) }}">
            {{ article.title }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock main %}
