<!DOCTYPE html>
<html lang="{{ request.nereid_language.code }}">
  <head>
    <title>{% trans %}Nereid Webshop{% endtrans %}-{% block title %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block link_tags %}
    {# This block adds <link> tags to the head section of the template. #}
    <link href="{{ url_for('nereid.webshop.send_static_file', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{ url_for('nereid.webshop.send_static_file', filename='js/html5shiv.js') }}"></script>
      <script src="{{ url_for('nereid.webshop.send_static_file', filename='js/respond.min.js') }}"></script>
    <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('nereid.webshop.send_static_file', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('nereid.webshop.send_static_file', filename='css/jquery.pnotify.default.css') }}">
    {% endblock link_tags %}
    
    {% block base_stylesheet %}
      <link rel="stylesheet" type="text/css" href="{{ url_for('nereid.webshop.send_static_file', filename='css/style.css') }}">
    {% endblock base_stylesheet %}

    {% block extra_head %}
      {# This block is empty by default and can be used to add extra 
        contents into the <head> tag of the generated HTML file. This is 
        the right place to add references to extra CSS files. 
      
        Though it is possible to add Javascript files to this section, It
        is not recommended. 
        See why: http://developer.yahoo.com/performance/rules.html#js_bottom
        #}
    {% endblock extra_head %}
  </head>
  <body>

    {% block header %}
    <section class="header-main">
      {% block header_row_1 %}
      <!-- Top Meta Details -->
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div  class="top-meta">
              {% block new_offers %}
                <!-- New Offers row -->
                <div class="new-offers">
                  <a href="">
                    <small class="btn-danger btn-xs">&nbsp;&nbsp;&nbsp;Offer <i class="fa fa-caret-right"></i>&nbsp;&nbsp;&nbsp;</small>
                    <span class="text-danger">Additional 30% off </span>on orders above $1199
                    <span class="pull-right">Use Coupon Code: <small class="text-rounded-border">Shop30</small>
                      <i class="fa fa-times-circle" title="close"></i>
                    </span>
                  </a>
                </div>
              {% endblock new_offers %}  
              <div class="row">
                {% block locales %}
                <div class="col-xs-3">
                  <!-- Choose Language -->
                  <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown">
                      <img class="flag flag-us"> English &nbsp;<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href><img class="flag flag-br">&nbsp;Brazil</a></li>
                      <li><a href><img class="flag flag-in">&nbsp;India</a></li>
                    </ul>
                  </div>
                </div>
                {% endblock locales %}
                <div class="col-xs-9 pull-right">
                  <ul class="list-inline pull-right links">
                    {% block header_links %}
                    <li><a href="tel:+91 120 6455161">&nbsp;<i class="fa fa-phone"></i> &nbsp; +91 120 6455161</a></li>
                    <li>
                      {% if not request.is_guest_user %}
                      <span class="text-muted">Welcome, </span> <span >{{ request.nereid_user.display_name }}</span>
                      <a href="{{ url_for('nereid.website.logout') }}"><span class="text-danger"><i class="fa fa-sign-out"></i> Log Out</span>
                      </a>
                      {% else %}
                      <a class="register-buttons" href="{{ url_for('nereid.website.login') }}">Login / SignUp</a>
                      {% endif %}
                    </li>
                    {% endblock header_links %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endblock header_row_1 %}

      {% block header_row_2 %}
      <div class="container logo-container">
        <div class="row">
          {% block logo %}
            <div class="col-md-3">
              <div class="main-logo">
                <a href="{{ url_for('nereid.website.home') }}">
                  <img src="{{ url_for('nereid.webshop.send_static_file', filename='images/nereid_cart_logo.png') }}">
                </a>
              </div>
            </div>
          {% endblock logo %}
          {% block search %}
            <div class="col-md-5 top-search">
              <div class="input-group">
                <input type="text" class="form-control">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                </span>
              </div><!-- /input-group -->
            </div>
          {% endblock search %}
          {% block header_user %}
            <div class="col-md-4 my-account">
              <ul class="list-inline pull-right">
                <li>
                  <div class="btn-group">
                    <a type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                      <i class="fa fa-user"></i> My Account <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                      {% if not request.is_guest_user %}
                        <li><a href="{{ url_for('nereid.website.account') }}">Profile</a></li>
                        <li><a href="">My Orders</a></li>
                        <li><a href="{{ url_for('nereid.website.logout') }}"><i class="fa fa-sign-out"></i>Logout</a></li>
                      {% else %}
                        <li><a class="register-buttons" href="{{ url_for('nereid.website.login') }}">Login / SignUp</a></li>
                      {% endif %}
                    </ul>
                  </div>
                </li>
                <li class="my-cart">
                  <a href="" class="my-cart-show">My Cart <span class="quantity">0</span></a>
                </li>
              </ul>
            </div>
          {% endblock header_user %}
        </div>
      </div>
      {% endblock header_row_2 %}

      <!--Main Navigation -->
      <div class="container sticky">
        {% block main_navigation %}
        <div class="row main-navigation">
          <div class="col-md-12">
            <ul class="list-inline" id="nav-list">
              {% for category in root_categories() %}
              <li>
                <a class="main-link" href="{{ url_for('product.category.render', uri=category.uri) }}">{{ category.name }}</a>
                {% if category.childs %}
                <!-- Dropdown Menu Starts-->
                <div class="container menbg">
                  <div class="row">
                    {% for child in category.childs %}
                    <div class="col-md-2">
                      <ul class="list-unstyled">
                        <li><a href="{{ url_for('product.category.render', uri=child.uri) }}"><strong>{{ child.name }}</strong></a></li>
                        {% for grandchild in child.childs %}
                        <li><a href="{{ url_for('product.category.render', uri=grandchild.uri) }}">{{ grandchild.name }}</a></li>
                        {% endfor %}
                      </ul>
                    </div>
                    {% endfor %}
                  </div>
                </div>
                {% endif %}
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        {% endblock main_navigation %}
      </div>
    </section>
    <div class="container container-breadcrumb">
      <ol class="breadcrumb">
        {% block breadcrumb %}
        {% endblock %}
      </ol>
    </div>
    {% endblock header %}

    {% block main %}
    {% endblock main %}

    {% set bottom_article_categories = ['customer-service', 'about-us', 'contact-us', 'press', 'help'] %}

    {% block footer %}
    <!--Footer Links blocks Starts-->
    <footer>
      <div class="container">
        <hr>
        <!--First Row-->
        <div class="row">
          <!-- Site Navigation and root links -->
          {% for category_name in bottom_article_categories %}
          <div class="col-md-2">
            {% set category = get_article_category(category_name) %}
            <h4>{{ category.title }}</h4>
            <ul class="list-unstyled">
              {% for article in category.articles %}
              <li><a href="{{ url_for('nereid.cms.article.render', uri=article.uri) }}">{{ article.title }}</a></li>
              {% endfor %}
            </ul>
          </div>
          {% endfor %}
          <!-- Social Links and Subscribe -->
          <div class="col-md-{{ 12 - 2 * (bottom_article_categories|length) }} social-block">
            <div class="row">
              <h4>Social</h4>
              <a href="" class="social-links facebook"><i></i></a>
              <a href="" class="social-links twitter"><i></i></a>
              <a href="" class="social-links googleplus"><i></i></a>
              <a href="" class="social-links pinterest"><i></i></a>
              <a href="" class="social-links youtube"><i></i></a>
            </div>
            <div class="row">
              <div class="subscribe-block">
                <h5>Sign Up for the Newsletter</h5>
                <!--Subscribe form-->
                <form>
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="you@mail.com">
                    <span class="input-group-btn">
                      <button class="btn btn-danger" type="button"><i class="fa fa-plus"></i></button>
                    </span>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <!-- Second Row -->
        <div class="row">
          <div class="col-md-8 payment-gateway">
            <h4>Payment Gateway</h4>
            <ul class="list-inline">
              <li>
                <img src="{{ url_for('nereid.webshop.send_static_file', filename='images/payment-gateway/visa.png') }}">
              </li>
              <li>
                <img src="{{ url_for('nereid.webshop.send_static_file', filename='images/payment-gateway/paypal.png') }}">
              </li>
              <li>
                <img src="{{ url_for('nereid.webshop.send_static_file', filename='images/payment-gateway/mastercard.png') }}">
              </li>
              <li>
                <img src="{{ url_for('nereid.webshop.send_static_file', filename='images/payment-gateway/solo.png') }}">
              </li>
              <li>
                <img src="{{ url_for('nereid.webshop.send_static_file', filename='images/payment-gateway/cirrus.png') }}">
              </li>
              <li>
                <img src="{{ url_for('nereid.webshop.send_static_file', filename='images/payment-gateway/western-union.png') }}">
              </li>
              <li>
                <img src="{{ url_for('nereid.webshop.send_static_file', filename='images/payment-gateway/american-express.png') }}">
              </li>
            </ul>
          </div>
        </div>
        <hr>
        <!-- third row -->
        <div class="row copyright-footer">
          <ul class="list-inline center">
            <li>
              &copy; Openlabs&nbsp;&nbsp;&nbsp;/
            </li>
            <li><a href=""> All Rights Reserved</a>&nbsp;&nbsp;&nbsp;/</li>
            <li><a href=""> Privacy Policy</a>&nbsp;&nbsp;&nbsp;/</li>
            <li><a href=""> Terms of Use</a></li>
          </ul>
        </div>
      </div>
    </footer>
    <script type="text/html"  id='cart-html-append'>
      <a href="{{ url_for('nereid.cart.view_cart') }}" class="my-cart-show">My Cart <span class="quantity"><%= parseInt(user_status.cart_size) %></span></a>
      <!-- Drop down cart -->
      <div class="cart-item">
        <!-- If cart is empty -->
        <%
        if (user_status.cart_size > 0){ %>
          <div class="cart-total">
            <span class="pull-left"><%= parseInt(user_status.cart_size) %> Item(s)</span><span class="pull-right"><strong>Subtotal :</strong> <%= user_status.cart.total_amount %> 
            </span>
          </div>
          <%
            _.each(user_status.cart.lines, function(line, index) { %>
              <div class="product-details">
                <div class="row">
                  <div class="col-xs-3 cart-product-image">
                    <a href="">
                      <img src="/static/images/products/tee1.jpg">
                    </a>
                  </div>
                  <div class="col-xs-7 cart-product-name">
                    <a href=""><%= line.product %>
                    </a><br>
                    <span class="text-muted"><%= line.quantity %> x <%= line.amount %></span>
                  </div>
                  <div class="col-xs-2 cart-product-total">
                    <a href="/cart/delete/" title="Remove"><i class="fa fa-trash-o"></i></a>
                  </div>
                </div>
              </div>
          <%
            });
          %>
          <a href="{{ url_for('nereid.cart.view_cart') }}" class="btn btn-danger pull-right" >Checkout</a>
        <% } else { %>
          <div class="empty-cart center">
            <i class="fa fa-frown-o fa-3x"></i>
            <h3>hey !</h3>
            <p>Your shopping cart is empty</p>
          </div>
        <% } %>
      </div>
    </script>    
    {% endblock footer %}
    
    <!-- javascript section -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ url_for('nereid.webshop.send_static_file', filename='js/jquery.min.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('nereid.webshop.send_static_file', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('nereid.webshop.send_static_file', filename='js/jquery.pnotify.min.js') }}"></script>
    <script type="text/javascript">
      $(document).ready(function($){
        {# Message flashin #}
        $.pnotify.defaults.styling = "bootstrap";
        $.pnotify.defaults.history = false;
        {% for category, message in get_flashed_messages(with_categories=True) %}
          $.pnotify({
            title: '{{ category }}',
            text: '{{ message }}',
            history: false,
            type: '{{ category }}',
            nonblock: true,
            nonblock_opacity: .4
          });
        {% endfor %}
      });
    </script>
    <script type="text/javascript">
      $.getJSON("{{ url_for('nereid.website.user_status') }}", function(data){
        var template = $("#cart-html-append").html();
        $("li.my-cart").html(_.template(template, {'user_status': data.status}));
      });
    </script>

    {% block script_tags %}
    <script src="{{ url_for('nereid.webshop.send_static_file', filename='js/app.js') }}"></script>
    <script src="{{ url_for('nereid.webshop.send_static_file', filename='js/holder.js') }}"></script>
    <script src="{{ url_for('nereid.webshop.send_static_file', filename='js/underscore-min.js') }}"></script>
    {% endblock script_tags %}

    {% block scripts %}
    {% endblock scripts %}
  </body>
</html>
