{% extends 'account-base.jinja' %}

{% from '_helpers.jinja' import render_payment_profile %}

{% block main %}
<section class="my-account">
  <div class="container">
    <div class="col-md-12">
      {{ account_header(_('MyAccount / My Cards'), 'my-cards') }}
      <!-- Account Information -->
      <div class="col-md-10">
        <div class="col-md-8">
          <h4 class="account-heading">{{ _('Cards') }}
            <a href="{{ url_for('party.party.nereid_add_payment_profile') }}" class="btn btn-info pull-right btn-xs"title=""><i class="fa fa-plus"></i> &nbsp;{{ _('Add new card') }}</a>
          </h4>
        </div>
        <div class="tab-content row">
          <div class="col-md-8 tab-pane active" id="payment-profile">
            {% for card in current_user.party.payment_profiles %}
            <div class="well well-small">
              <form name="remove-payment-profile" action="{{ url_for('party.party.remove_payment_profile') }}" method="post" autocomplete="off">
                <input name="csrf_token" type="hidden" value="{{ csrf_token() }}"/>
                <input type="hidden" name="profile_id" value="{{ card.id }}"/>
                <button type="submit" class="pull-right btn btn-link"><i class="fa fa-trash-o"></i> Remove</button>
              </form>
              {{ render_payment_profile(card) }}
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock main %}