{% extends 'base.jinja' %}

{% from '_helpers.jinja' import render_product %}

{% block title %}{{ product.name }} {{ super() }}{% endblock title %}
{% block meta_description %}{{ (product.description or '')|striptags|truncate(300) }}{% endblock %}

{% block extra_head %}
{{ super() }}
<!-- og -->
<meta property="og:url" content="{{ url_for('product.product.render', uri=product.uri, _external=True) }}"/>
<meta property="og:title" content="{{ product.name  }}" />
<meta property="og:description" content="{{ (product.description or '')|truncate(300) }}" />
<meta property="og:type" content="product"/>
<meta property="og:image" content="http:{{ CDN }}{{ product.default_image.transform_command().thumbnail(1500, 1500, 'a') }}"/>
{% for code in product.codes %}
{% if code.code_type == 'upc-a' %}
<meta property="og:upc" content="{{ code.code }}"/>
{% endif %}
{% endfor %}
{% endblock extra_head %}

{% block breadcrumb %}
{{ super() }}
<li>
  {{ product.name }}
</li>
{% endblock breadcrumb %}

{% block main %}
<!-- Product Section starts -->
<div class="container">
  <!--Product-main section-->
  <div class="row">
    <div class="col-md-5 thumbs-image">
      <div class="col-md-3">
        <ul class="list-inline">
          {% for image in product.get_images() %}
          <li class="{% if loop.first %}active{% endif %}">
            <a href="#tab{{ loop.index }}" data-toggle="tab">
              <img src="{{ image.transform_command().thumbnail(120, 120, 'a') }}" />
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-md-9">
        <div class="tab-content">
          {% for image in product.get_images() %}
          <div class="tab-pane {% if loop.first %}active{% endif %}" id="tab{{ loop.index }}">
            <div class="zoom-container">
              <a id="zoom-target" href="{{ image.url }}" data-lightbox="{{ product.rec_name }}" > 
                <img class="zoom-image" src="{{ image.transform_command().thumbnail(500, 500, 'a') }}" />
              </a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <!--Add this plugin -->
      <div class="row addthis-social">
        <br>
        <!-- AddThis Button BEGIN -->
        <!--
        <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
          <a class="addthis_button_preferred_1"></a>
          <a class="addthis_button_preferred_2"></a>
          <a class="addthis_button_preferred_3"></a>
          <a class="addthis_button_preferred_4"></a>
          <a class="addthis_button_compact"></a>
          <a class="addthis_counter addthis_bubble_style"></a>
        </div>
        <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51bc173019597874"></script>
      -->
        <!-- AddThis Button END -->
      </div>
    </div>
    <div class="col-md-7">
      <h4 class="product-heading product-name">{{ product.rec_name }}
        <small class="product-code">{{ product.code }}</small>
      </h4>
      {% set sale_price = product.sale_price(1) %}
      {% if sale_price < product.list_price %}
      <h3 class="product-price">
        <span class="not">{{ product.list_price|currencyformat(request.nereid_currency.code) }}</span>
        {{ sale_price|currencyformat(request.nereid_currency.code) }}
      </h3>
      {% else %}
      <h3 class="product-price">{{ sale_price|currencyformat(request.nereid_currency.code) }}</h3>
      {% endif %}

      {% if product.template.get_product_variation_data %}
        <div id="product-varying-attrs"></div>
      {% else %}
        {% if product.template.products|length > 1 %}
        {# show if there are more variants than the one being displayed #}
        <div class="product-size"> Select Variation : <br>
          <div class="size-buttons">
            {% for variant in product.template.products %}
            <a class="btn btn-size"
              href="{{ url_for('product.product.render', uri=variant.uri) }}"
              type="radio" value="{{ variant.id }}">{{ variant.code }}</a>
            {% endfor %}
          </div>
          <span class="error-text text-danger"> Please Select Size</span>
        </div>
        {% endif %}
      {% endif %}

      <span class="text-warning" style="display:none" id="product-not-available"><i class="fa fa-warning"></i> {{ _('This product is not available') }}</span>
      {% if product.salable %}
      <div class="buy-now">
        <form action="{{ url_for("nereid.cart.add_to_cart") }}" method="post" id="product-buy-now" autocomplete="off">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <input type="hidden" name="quantity" value="1"/>
          <input type="hidden" name="size" id="size-id"/>
          <input type="hidden" name="product" value="{{ product.id }}"/>
          <input type="hidden" name="action" value="add"/>
          <button class="btn btn-danger" type="submit" quantity="1" id="buy-now-btn">Buy Now</button>
        </form>
      </div>
      {% else %}
        <div style="padding-top:15px;">
          <span class="text-danger" id="product-not-for-sale"><i class="fa fa-warning"></i>This product is not for sale</span>
        </div>
      {% endif %}
      {% if current_user.is_authenticated() %}
      <div class="row">
        <div class="btn-group col-md-6" id="add-to-wishlist">
          <form method="post" action="{{ url_for('wishlist.wishlist.wishlist_product') }}"  autocomplete="off">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <input type="hidden" name="action" value="add"/>
            <input type="hidden" name="product" value="{{ product.id }}" />
            <button type="submit" class="btn btn-default">Add To Wishlist</button>

            {% if current_user.wishlists|length > 0 %}
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="wishlist-dropdown">
              <i class="fa fa-angle-down"></i>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            {# Drop down for add to wishlist #}
              <ul class="dropdown-menu" role="menu" aria-labelledby="wishlist-dropdown">
              {% for wishlist in current_user.wishlists %}
                <li name="wishlist" value="{{ wishlist.id }}" class="center">{{ wishlist.name|title }}</li>
              {% endfor %}
              </ul>
              {% endif %}
            </form>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
  <!--Product Description -->
  <div class="row">
    <div class="col-md-12 product-desc">
      <h4 class="main-heading">Product Description</h4>
      <p>{{ product.get_description() }}</p>
    </div>
  </div>
  <hr>
  <!-- Related Products -->
  <div class="row">
    <div class="col-md-6 col-md-offset-3 center">
      <ul class="list-inline recommended-tabs">
        <li class="active"><a href="#recommended-products" data-toggle="tab">Recommended</a></li>
        <li><a href="#bought-together" data-toggle="tab">Bought Together</a></li>
        <li><a href="#recently-viewed" data-toggle="tab">Recently Viewed</a></li>
      </ul>
    </div>
  </div>
  <div class="row tab-content center">
    <div class="tab-pane active" id="recommended-products">
      <div class="col-md-10 col-md-offset-1">
        <div id="product-slide">
          {% for recommended_product in product.recommended_products %}
          {# FIXME #}
          <div class="item">
            <a href="">
              <img src="{{ STATIC }}images/sample-img/formal-shirts/shirt1.jpg" />
              <h4> {{ recommended_product.name }}
                <span class="brand">Black Coffee</span>
              </h4>
              <span class="product-price">$ 25.99</span>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="bought-together">
      <h1>hello world</h1>
    </div>
    <div class="tab-pane fade" id="recently-viewed">
      <h1>hi there</h1>
    </div>
  </div>
</div>
{% endblock main %}

{# all this is valid only if nereid-catalog-variants module is installed #}
{% block scripts %}
{{ super() }}
{% if product.template.get_product_variation_data %}
<script type="text/html"  id='product-varying-attrs-tpl'>
  <div class="row">
    <% _.each(attrs, function(attr, index) { %>
      <% if (attr.widget == 'dropdown') { %>
        <div class="col-md-6"> Select <%= attr.string %>: <br/>
          <select class="form-control select-sort attribute btn btn-lg btn-default" data-attr-name="<%= attr.name %>">
            <% _.each(attr.options, function(option, index) { %>
            <option value="<%= _.escape(option[0]) %>" <% if (option[0] == currentVariantAttrs[attr.name]) { %> selected <% } %> ><%= _.escape(option[1]) %></option>
            <% }); %>
          </select>
        </div>
      <% } %>
    <% }); %>
  </div>
</script>

<script type="text/javascript">
  $(document).ready(function() {

    var productObj = {{ product.template.get_product_variation_data(as_json=True)|safe }}

    var currentVariantId = {{ product.id }}; // on page load this is the product ID

    /*
       Return the variant information given a product variant ID
    */
    var getVariantInfo = function(variantId) {
      return _.find(productObj['variants'], function(product) {
        return (product.id == variantId) ;
      });
    };

    var currentVariant = getVariantInfo(currentVariantId);

    /*
       Find a variant from the list which matches the attributes
       selected. If there is none then return null
    */
    var findVariantMatching = function(attributeSelection) {
      return _.find(productObj['variants'], function(product) {
        return _.isEqual(product.attributes, attributeSelection)
      });
    };

    /*
       called when an attribute changes. Based on the selected attributes,
       it tries to identify the product. If it does, then it returns the
       id of that product
    */
    var onChangeAttribute = function() {
      var attributeSelection = _.reduce(
        $(".attribute"),  // Selector for the attribute fields.
        function(memo, attrEl) {
          // Append the attribute name and value to the map
          memo[attrEl.getAttribute('data-attr-name')] = attrEl.value;
          return memo;
        },
        {} // Initial empty attribute set
      );

      // Find a product which matches the attributes
      product = findVariantMatching(attributeSelection);

      if (product) {
        // Set this product's assets as the current product
        $('#product-not-available').hide();
        $('#buy-now-btn').removeAttr('disabled');
        $('.product-price').show();
        $('.product-code').text(product.code);
        $('.product-price').text(product.price);

        // Set only, no removals
        $('.product-name').text(product.rec_name);
        // Set the correct product in all input field
        $('input[name="product"]').val(product.id);
      } else {
        // Display that the product is not available
        $('#product-not-available').show();
        $('#buy-now-btn').attr('disabled', 'disabled');
        $('.product-price').hide();
        $('.product-code').text('');
      }
    };

    /* Use _ templates to render the attribute options
       Same thing could have been done in jinja but at the
       cost of server time ;)
       */
    $("#product-varying-attrs").html(_.template(
      $("#product-varying-attrs-tpl").html(), {
        'attrs': productObj.varying_attributes,
        'currentVariantAttrs': getVariantInfo({{ product.id }}).attributes
      }
    ));

    $('.attribute').change(onChangeAttribute);
  });
</script>
{% endif %}
<script type="text/javascript">
  $(document).ready(function() {
    $('#add-to-wishlist .dropdown-menu li').on('click', function(){
      var wishlist_id = $(this).val();
      var product_id = {{ product.id }};
      var data = {'wishlist': wishlist_id, 'product': product_id, 'action': "add"}
      console.log(data);
      $.ajax({
        type: "POST",
        url: "{{ url_for('wishlist.wishlist.wishlist_product') }}",
        data: data,
      }).done(function(){
        $(location).attr('href',"{{ url_for('wishlist.wishlist.render_wishlists', _external=True) }}");
      });
    });
  });
</script>
{% endblock scripts %}
