{% extends 'base.jinja' %}

{% from '_helpers.jinja' import render_pagination, render_product_list  %}

{% block breadcrumb %}
{{ super() }}
{% endblock breadcrumb %}

{% block main %}
<section>
  <div class="container">
    <!-- category page -->
      <!-- Content bar -->
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-9">
            <h3 class="list-heading">{{ _('All Products') }}</h3>
            <br>
          </div>
        </div>
        <div class="row product-list">
          {% for product in products %}
            <div class="col-md-3 col-sm-4 col-xs-12">
              {{ render_product_list(product, product_list_name="Products Master List") }}
            </div>
          {% endfor %}
        </div>
        <div class="row">
          {{ render_pagination(products, endpoint='product.product.render_list') }}
        </div>
      </div>
  </div>
</section>
{% endblock main%}