{% extends 'base.jinja' %}

{% from '_helpers.jinja' import render_field %}

{% block breadcrumb %}
{{ super() }}
{{ render_breadcrumb_item(_('Registration'), url_for('nereid.user.registration')) }}
{% endblock breadcrumb %}

{% block main %}
<section>
  <div class="container">
    <!--Registration container Container-->
    <div class="row login-container">
      <div class="account-auth col-md-10 col-md-offset-1">
        <div class="login-header center">
          <h5 class="modal-title register-text">{{ _('Already registered ?') }} <a href="{{ url_for('nereid.website.login') }}"><span>{{ _('Login here') }} </span></a></h5>
        </div>
        <div class="login-body">
          <h4 class="center"><span>{{ _('Create new account') }}</span></h4>
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <form class="register-form" method="POST" action="{{ url_for('nereid.user.registration') }}" autocomplete="off">
                {{ form.hidden_tag() }}
                {{ render_field(form.name, placeholder=_('Name'), required=required) }}
                {{ render_field(form.email, placeholder=_('E-mail'), required=required, type="email") }}
                {{ render_field(form.password, placeholder=_('Password'), required=required) }}
                {{ render_field(form.confirm, placeholder=_('Confirm Password'), required=required) }}
                <button type="submit" class="btn btn-lg btn-block"> {{ _('Register') }}</button>
              </form>
            </div>
          </div>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</section>
{% endblock main %}
