{% extends 'base.jinja' %}

{% block main %}
<div class="container reset_password">
  <div class="row account-auth">
    <div class="login-header center">
      <h5 class="modal-title login-text">{{ _('New to shop ?') }} <a href="{{ url_for('nereid.user.registration') }}"><span>{{ _('Register here') }} </span></a></h5>
    </div>
    <div class="col-md-10 col-md-offset-1">
      <h4 class="center"><span class="reset_heading">{{ _('Reset Password') }}</span></h4>
    </div>
    <div class="col-md-4 col-md-offset-4">
      <form class="form-horizontal" action="{{ url_for('nereid.user.reset_account') }}" method="post" autocomplete="off">
        <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
        <div class="form-group">
          <label for="reset_email">{{ _('e-mail *:') }}</label>
          <input type="email" class="form-control" id="reset_email" placeholder="{{ _('Enter Your Email') }}" name="email" />
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-lg btn-block">{{ _('Submit') }}</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock main %}
