{% extends 'base.jinja' %}

{% block main %}
<!-- My Orders Page starts here -->
<section class="my-account">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <h3>My Account / Orders</h3>
          <!-- Navigation tabs of my account -->
          <ul class="list-inline account-links">
            <li><a href="{{ url_for('nereid.website.account') }}">Profile</a></li>
            <li class="active"><a href="{{ url_for('nereid.website.sales') }}">Orders</a></li>
            <li><a >Wishlist</a></li>
            <li><a href="{{ url_for('party.address.view_address') }}">Address Book</a></li>
            <li><a>My Credits</a></li>
          </ul>
        </div>

        <!--My Orders-->
        <div class="row">
          <h4 class="account-heading">My Orders</h4>
        </div>
        <div class="row cart-table">
          <!--Recent Orders Table starts here -->
          <div class="table-responsive">
            <table class="table">
              <thead class="col-heading">
                <tr>
                  <th>Order No.</th>
                  <th>Ordered Products</th>
                  <th>Total Amount </th>
                  <th>Date Placed</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for sale in sales %}
                <tr>
                  <td><a href="">{{ sale.reference }}</a></td>
                  <td class="orderd-products"> 
                    {% for line in sale.lines %}              
                    <a href="" class="product-name">line.description </a><br>
                    {#<span class="text-muted">Size : </span> L#}
                    <span class="text-muted">Qty : </span> {{ line.quantity }}<br>
                    {% endfor %}
                  </td>
                  <td>
                    {{ sale.total_amount|currencyformat(sale.currency.code) }}
                  </td>
                  <td>
                    {{ sale.sale_date|dateformat }}
                  </td>
                  <td>
                    <span class="{% if sale.state ==  "done" %}text-success{% elif sale.state == "confirmed" %}text-info{% elif sale.state == "cancel" %}text-danger{% endif %}">{{ sale.state }}</span>                     
                  </td>
                  <td class="action">
                    {#
                    <span>
                      <a href="">
                        Return
                      </a> / 
                      <a href="">Exchange </a>
                    </span>
                    #}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock main %}
