{% extends 'account-base.jinja' %}

{% from '_helpers.jinja' import render_pagination %}

{% block main %}
<!-- My Orders Page starts here -->
<section class="my-account">
  <div class="container">
    <div class="col-md-12">
      <div class="col-md-10 col-md-offset-1">
        {{ account_header(_('My Account / Orders'), 'orders') }}
        <!--My Orders-->
        <div class="row filter-by">
            <div class="dropdown pull-right">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                {% if request.args.get('filter_by') %}Filtered by {{ request.args.get('filter_by')|title }} orders {% else %} Filter by orders state {% endif %}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('sale.sale.render_list', filter_by="recent") }}">Recent Orders</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('sale.sale.render_list', filter_by="done") }}">Done Orders</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('sale.sale.render_list', filter_by="canceled") }}">Canceled Orders</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('sale.sale.render_list', filter_by="archived") }}">Archived Orders</a></li>
              </ul>
            </div>
          </div>
        {% if sales %}
        <div class="row cart-table">
          <!--Recent Orders Table starts here -->
          <div class="table-responsive">
            <table class="table">
              <thead class="col-heading">
                <tr>
                  <th>{{ _('Order No.') }}</th>
                  <th>{{ _('Ordered Products') }}</th>
                  <th>{{ _('Total Amount') }} </th>
                  <th>{{ _('Date Placed') }}</th>
                  <th>{{ _('Status') }}</th>
                  <th>{{ _('Action') }}</th>
                </tr>
              </thead>
              <tbody>
                {% for sale in sales %}
                <tr>
                  <td><a href="{{ url_for('sale.sale.render', active_id=sale.id) }}" class="text-info">#{{ sale.reference }}</a></td>
                  <td class="orderd-products">
                    {% for line in sale.lines %}
                    {% if line.product and line.product.displayed_on_eshop %}
                      <a href="{{ url_for('product.product.render', uri=line.product.uri) }}" class="product-name">{{ line.description }}</a><br>
                    {% else %}
                      <a class="product-name">{{ line.description }}</a>
                    {% endif %}
                    {#<span class="text-muted">Size : </span> L#}
                    <span class="text-muted">{{ _('Qty') }} : </span> {{ line.quantity }}<br>
                    {% endfor %}
                  </td>
                  <td>
                    {{ sale.total_amount|currencyformat(sale.currency.code) }}
                  </td>
                  <td>
                    {{ sale.sale_date|dateformat }}
                  </td>
                  <td>
                    {% if sale.state ==  "done" %}
                    <span class="text-success">Done</span>
                    {% elif sale.state in ("processing", "confirmed") %}
                      <span class="text-info">Processing</span>
                    {% elif sale.state == "cancel" %}
                      <span class="text-danger">Canceled</span>
                    {% endif %}
                  </td>
                  <td class="action">
                    {% for invoice in sale.invoices %}
                      {% if invoice.state == "paid" %}
                        <a href="{{ url_for('account.invoice.download_invoice', active_id=invoice.id) }}" class="text-muted download-invoice">
                          <i class="fa fa-cloud-download"></i> {{ _('Download invoice') }}
                        </a>
                        <br>
                      {% endif %}
                    {% endfor %}
                  </td>
                </tr>
                {% endfor %}
              </div>
              </div>
              </tbody>
            </table>
            <div class="col-md-12" class="pagination">
            {{ render_pagination(sales, endpoint='sale.sale.render_list', filter_by=request.args.get('filter_by')) }}
            </div>
          </div>
      </div>
      {% else %}
      <div class="row">
          <h4 class="text-muted center">No Orders Available.</h4>
      </div>
      {% endif %}
    </div>
  </div>
</section>
{% endblock main %}
