language: python
python:
  - "2.7"
install:
  - pip install flake8
  - pip install -r requirements.txt
  - pip install coveralls
script:
  - coverage run setup.py test
  - python setup.py test
  - flake8 .
after_success:
  coveralls
notifications:
  email:
    - ci-notify@openlabs.co.in
