language: python
python:
  - "2.7"
install:
  - pip install -r dev_requirements.txt
script: tox
env:
  - TOXENV=py27sqlite
  - TOXENV=py27pg
  - TOXENV=flake8
  - TOXENV=packaging
after_success:
  coveralls
notifications:
  email:
    - ci-notify@openlabs.co.in
