include INSTALL
include README
include TODO
include COPYRIGHT
include CHANGELOG
include MIGRATION
include LICENSE
include Makefile
include *.txt
include Dockerfile
include tox.ini
include .coveragerc
graft templates
graft static
recursive-include docs *
recursive-include web *
