# Install zikzakmedia's sale shop module from bitbucket.
https://bitbucket.org/zikzakmedia/trytond-sale_shop/get/default.tar.gz

# Install gift card module from develop
https://github.com/openlabs/trytond-gift-card/archive/develop.tar.gz

# Install this package itself
.
