{% extends 'base.jinja' %}

{% from '_helpers.jinja' import render_pagination, render_product_list  %}

{% block breadcrumb %}
<li>
  <li><a href="{{ url_for('nereid.website.home') }}">Home</a></li>
  {% for url, node in make_tree_crumbs(node=node, add_home=False)[1:] %}
    <li><a href="{{ url }}">{{ node }}</a></li>
  {% endfor %}
</li>
{% endblock breadcrumb %}

{% block main %}
<section>
  <div class="container">
    <div class="col-md-12">
      <div class="col-md-12">
       <h4 class="center"> {{ node.name|title }}</h4>
      </div>
      {% if node.description or node.image %}
        <div class="col-md-12 node-description">
          {% if node.description %}
            {{ node.description|safe }}
          {% elif node.image %}
            <div class="col-md-8 col-md-offset-2 margin-top-30">
              <img src="{{ CDN }}{{ node.image.url }}" class="img img-responsive img-thumbnail"/>
            </div>
          {% endif %}
        </div>
      {% endif %}
      <div class="row">
        {% if node.children %}
          <div class="col-md-12">
            {% for child in node.children %}
              <div class="product-image col-md-3 col-sm-4 col-xs-6">
                <a href="{{ url_for('product.tree_node.render', active_id=child.id, slug=child.slug) }}">
                  <div>
                  {% if child.image %}
                    <img src="{{ child.image.transform_command().thumbnail(500, 500) }}" alt="{{ child.name }}" title="{{ child.name }}">
                  {% endif %}
                  </div>
                  <div class="text-center">
                    <h4>{{ child.name|safe|truncate(50) }}
                    </h4>
                  </div>
                </a>
              </div>
            {% endfor %}
          </div>
        {% endif %}
        {% if node.products %}
          <div class="col-md-12">
            <div class="node-heading row">
              <p><b>Items</b><span class="pull-right">Total Products: {{ node.products|length }}<span></p>
            </div>
            <div class="category-list"></div>
            {% for product in node.products %}
              {{ render_product_list(product) }}
            {% endfor %}
          </div>
          <div class="col-md-12">
          {{ render_pagination(products, endpoint='product.tree_node.render', active_id=node.id, slug=node.slug) }}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endblock main%}
