{% extends 'checkout/base.jinja' %}

{% from '_helpers.jinja' import render_field %}

{% set checkout_step = 1 %}
{% set checkout_step_name = _('Please Sign In') %}


{% block main %}
<section>
  <div class="container login-container">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="login-box">
          <h4>{{ _('Returning Customers') }}</h4>
          <h4><small>{{ _('Sign in below to checkout with an existing account') }}</small></h4>
          <div class="clearfix"></div>
          <div class="row">
            <div class="col-md-12">
              <form class="form" method="POST" id="checkout-signin" autocomplete="off">
                {{ form.hidden_tag() }}
                {{ render_field(form.email, placeholder=_('Enter your E-mail'), required=True, type="email", class="input-lg form-control") }}
                {{ render_field(form.password, placeholder=_('Password'), required=True, class="input-lg form-control") }}
                <input id="checkout_mode-1" name="checkout_mode" type="hidden" value="account">
                <div class="forgot-password pull-right">
                  <a
                    href="{{ url_for('nereid.user.reset_account', next=request.args.get('next', url_for('nereid.website.home'))) }}" 
                    class="text-muted">
                    <strong>{{ _('Forgot Password ?') }}</strong>
                  </a>
                </div>
                <button type="submit" class="btn btn-lg btn-warning">
                  <i class="fa fa-lock"></i> {{ _('Sign In') }}
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="login-box">
          <h4>{{ _('New Customers') }}</h4>
          <h4><small>{{ _('Enter the email where you would like to receive order information.') }}</small></h4>
          <div class="clearfix"></div>
          <div class="row">
            <form class="login-form col-md-8 col-sm-10 col-xs-12" method="POST" id="checkout-signin" autocomplete="off">
              {{ form.hidden_tag() }}
              {{ render_field(form.email, placeholder=_('Enter your E-mail'), required=required, type="email", class="input-lg form-control") }}
              <input id="checkout_mode-1" name="checkout_mode" type="hidden" value="guest">
              <button type="submit" class="btn btn-lg btn-warning">{{ _('Continue as Guest') }} <i class="fa fa-arrow-right"></i></button>
            </form>
          </div>
          <div class="row want-to-register">
            <div class="col-md-12 text-muted">
              {% trans %}Want to create an account first ?{% endtrans %}
              <a href="{{ url_for('nereid.user.registration') }}">
                <strong>{{ _('Register Now') }}</strong>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock main %}


{% block ga_page_view %}
    {{ google_analytics_add_product() }}
    ga('ec:setAction', 'checkout', {'step': 1});
{% endblock ga_page_view %}
