<!DOCTYPE html>
<html lang="{{ request.nereid_language.code }}">
  {% set STATIC = url_for('static', filename='').split('?')[0] %}
  <head>
    <title>{% trans %}Nereid Webshop{% endtrans %}-{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ STATIC }}css/bootstrap.min.css" rel="stylesheet" media="screen">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{ STATIC }}js/html5shiv.js"></script>
      <script src="{{ STATIC }}js/respond.min.js"></script>
    <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ STATIC }}css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC }}css/style.css">
    {% block extra_head %}
    {% endblock %}
  </head>
  <body>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div  class="top-meta">
              <!-- Choose Language -->
              <div class="btn-group" style="margin-top:3px;">
                <button type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown">
                  <img class="flag flag-us"> English &nbsp;<span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href><img class="flag flag-br">&nbsp;Brazil</a></li>
                  <li><a href><img class="flag flag-in">&nbsp;India</a></li>
                </ul>
              </div>
              <ul class="list-inline pull-right links">
                <li><a href="tel:+91 120 6455161">&nbsp;<i class="icon-phone"></i> &nbsp; +91 120 6455161</a></li>
                {% if not request.is_guest_user %}
                  <li><a class="register-buttons" data-toggle="modal" href="{{ url_for('nereid.website.logout') }}">Logout</a></li>
                {% else %}
                  <li><a class="register-buttons" data-toggle="modal" href="#login-modal">Login</a></li>
                  <li><a href="" class="register-buttons login-button">Sign Up</a></li>
                {% endif %}
              </ul>
              <!--Login Modal-->
              <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog account-auth">
                  <div class="modal-content">
                    <div class="modal-header center">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h5 class="modal-title">New to shop ? <a href="">Register here </a></h5>
                    </div>
                    <div class="modal-body">
                      <h4 class="center"><span>Log in to your account</span></h4>
                      <div class="row">
                        <div class="col-md-5">
                          <form method="POST" action="{{ url_for('nereid.website.login') }}" id="login">
                            <input type="email" class="form-control input-lg" placeholder="enter you e-mail address" required="True">
                            <input type="password" class="form-control input-lg" placeholder="your password" required="True">
                            <button type="button" class="btn btn-lg btn-block">Login</button>
                            <a href="{{ url_for('nereid.user.reset_account', next=request.args.get('next', url_for('nereid.website.home'))) }}" class="text-muted"><strong>Forgot Password ?</strong></a>
                          </form>
                        </div>
                        <div class="col-md-2">
                          <div class="dotted-line"></div>
                          <div class="or-circle center">or</div>
                          <div class="dotted-line"></div>
                        </div>
                        <div class="col-md-5">
                          <h5>Sign in with</h5>
                          <ul class="list-inline social-login">
                            <li class="facebook">
                              <a href="">
                                <i class="fa fa-facebook"></i>&nbsp;&nbsp; facebook
                              </a>
                            </li>
                            <li class="twitter">
                              <a href="">
                                <i class="fa fa-twitter"></i>&nbsp;&nbsp; twitter
                              </a>
                            </li>
                            <li class="google-plus">
                              <a href="">
                                <i class="fa fa-google-plus"></i>&nbsp;&nbsp; google+
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
              </div><!-- /.modal -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="header-main">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="main-logo">
            <a href="{{ url_for('nereid.website.home') }}">
                <img src="{{ STATIC }}images/gnacode-logo.png">
              </a> 
            </div>
          </div>
          <div class="col-md-5 top-search">
            <div class="input-group">
              <input type="text" class="form-control">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Search</button>
              </span>
            </div><!-- /input-group -->
          </div>
          <div class="col-md-4 my-account">
            <ul class="list-inline pull-right">
              <li>
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    My Account <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Something else here</a></li>
                  </ul>
                </div>
              </li>
              <li>
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Wish list <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                  </ul>
                </div>
              </li>
              <li>
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-shopping-cart"></i> <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!--Main Navigation -->
    <section>
      <div class="container main-navigation">
        <div class="row">
          <ul class="list-inline col-md-12" id="nav-list">
          {% for menuitem in menu_for('browse-node-menu', 'main-menu')['children'] %}
            <li>
              <a class="main-link" href="{{ url_for('product.browse_node.render', uri=menuitem['uri']) }}">{{ menuitem['name'] }}</a>
              <!-- Dropdown Menu Starts-->
              {% if menuitem.get('children') %}
                {% for child in menuitem.get('children') %}
                <div class="container menbg">
                  <div class="row">
                    <div class="col-md-2">
                      <ul class="list-unstyled">
                        <li><a href="{{ url_for('product.browse_node.render', uri=child['uri']) }}"><strong>{{ child['name'] }}</strong></a></li>
                        {% for subchild in child.get('children') %}
                          <li><a href="{{ url_for('product.browse_node.render', uri=subchild['uri']) }}">{{ subchild['name'] }}</a></li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
                {% endfor %}
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </section>
    <!--Main Navigation -->
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb">
            {% block breadcrumb %}
            {% endblock %}
          </ol>
        </div>
      </div>
    </div>
    {% block main %}
    {% endblock %}
    <!--Footer Links blocks Starts-->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <div class="row">
              <div class="col-md-4">
                <h4>Shop</h4>
                <ul class="list-unstyled">
                {% for menuitem in menu_for('browse-node-menu', 'main-menu')['children'] %}
                  <li>
                    <a href="{{ url_for('product.browse_node.render', uri=menuitem['uri']) }}">{{ menuitem['name'] }}</a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
              <div class="col-md-4">
                <h4>Customer Service</h4>
                <ul class="list-unstyled">
                  <li><a href="">Contact Us</a></li>
                  <li><a href="">Shipping &amp; Delivery</a></li>
                  <li><a href="">Returns</a></li>
                  <li><a href="">Order Status</a></li>
                </ul>
              </div>
              <div class="col-md-4">
                <h4>About Company</h4>
                <ul class="list-unstyled">
                  <li><a href="">Our Stories</a></li>
                  <li><a href="">Origin Story </a></li>
                  <li><a href="">Careers</a></li>
                  <li><a href="">Partners</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="row">
              <h4>Social</h4><br>
              <a href="" class="social-links facebook"><i></i></a>
              <a href="" class="social-links twitter"><i></i></a>
              <a href="" class="social-links googleplus"><i></i></a>
              <a href="" class="social-links pinterest"><i></i></a>
              <a href="" class="social-links youtube"><i></i></a>
            </div>
            <div class="row subscribe-block">
              <h5>Sign Up for the Newsletter</h5>
              <!--Subscribe form-->
              <form>
                <div class="input-group">
                  <input type="text" class="form-control input-lg" placeholder="you@mail.com">
                  <span class="input-group-btn">
                    <button class="btn btn-primary btn-lg" type="button"><i class="fa fa-plus"></i></button>
                  </span>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 payment-gateway">
            <h4>Payment Gateway</h4><br>
            <ul class="list-inline">
              <li>
                <img src="{{ STATIC }}images/payment-gateway/visa.png">
              </li>
              <li>
                <img src="{{ STATIC }}images/payment-gateway/paypal.png">
              </li>
              <li>
                <img src="{{ STATIC }}images/payment-gateway/mastercard.png">
              </li>
              <li>
                <img src="{{ STATIC }}images/payment-gateway/solo.png">
              </li>
              <li>
                <img src="{{ STATIC }}images/payment-gateway/cirrus.png">
              </li>
              <li>
                <img src="{{ STATIC }}images/payment-gateway/western-union.png">
              </li>
              <li>
                <img src="{{ STATIC }}images/payment-gateway/american-express.png">
              </li>
            </ul>
          </div>
        </div>
        <div class="row copyright-footer">
          <ul class="list-inline center">
            <li>
              &copy; Opelabs Technologies and Consulting (P) Ltd.&nbsp;&nbsp;&nbsp;/
            </li>
            <li><a href=""> All Rights Reserved</a>&nbsp;&nbsp;&nbsp;/</li>
            <li><a href=""> Privacy Policy</a>&nbsp;&nbsp;&nbsp;/</li>
            <li><a href=""> Terms of Use</a></li>
          </ul>
        </div>
      </div>
    </footer>
    <!--Footer Links blocks Ends-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ STATIC }}js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ STATIC }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC }}js/holder.js"></script>
    {% block extra_footer %}
    {% endblock %}
  </body>
</html>
