<!DOCTYPE html>
<html>
  <head>
    <title>GNACODE Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div  class="top-meta">
              <!-- Choose Language -->
              <div class="btn-group" style="margin-top:3px;">
                <button type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown">
                  <img class="flag flag-us"> English &nbsp;<span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href><img class="flag flag-br">&nbsp;Brazil</a></li>
                  <li><a href><img class="flag flag-in">&nbsp;India</a></li>
                </ul>
              </div>
              <ul class="list-inline pull-right links">
                <li><a href="tel:+91 120 6455161">&nbsp;<i class="icon-phone"></i> &nbsp; +91 120 6455161</a></li>
                <li><a href="" class="register-buttons">Login</a></li>
                <li><a href="" class="register-buttons login-button">Sign Up</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="header-main">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="main-logo">
              <img src="images/gnacode-logo.png">
            </div>
          </div>
          <div class="col-md-5 top-search">
            <div class="input-group">
              <input type="text" class="form-control">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Search</button>
              </span>
            </div><!-- /input-group -->
          </div>
          <div class="col-md-4 my-account">
            <ul class="list-inline pull-right">
              <li>
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    My Account <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Something else here</a></li>
                  </ul>
                </div>
              </li>
              <li>
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Wish list <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                  </ul>
                </div>
              </li>
              <li>
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-shopping-cart"></i> <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!--Main Navigation -->
    <section>
      <div class="container main-navigation">
        <div class="row">
          <ul class="list-inline col-md-12" id="nav-list">
            <li>
              <a class="main-link" href="">Men</a>
              <!-- Dropdown Menu Starts-->
              <div class="container menbg">
                <div class="row">
                  <div class="col-md-2">
                    <ul class="list-unstyled">
                      <li><a href=""><strong>Men's Footwear</strong></a></li>
                      <li><a href="">Casual Shoes</a></li>
                      <li><a href="">Sports Shoes</a></li>
                      <li><a href="">Formal Shoes</a></li>
                      <li><a href="">Slipper's & Flip Flops</a></li>
                    </ul>
                  </div>
                  <div class="col-md-2">
                    <ul class="list-unstyled">
                      <li><a href=""><strong>Men's Clothing</strong></a></li>
                      <li><a href="">T-Shirts</a></li>
                      <li><a href="">Casual Shirts </a></li>
                      <li><a href="">Formal Shirts </a></li>
                      <li><a href="">Sports Shirts</a></li>
                      <li><a href="">T-Shirts</a></li>
                      <li><a href="">Polos</a></li>
                      <li><a href="">Jeans</a></li>
                      <li><a href="">Trousers</a></li>
                      <li><a href="">Capri</a></li>
                    </ul>
                  </div>
                  <div class="col-md-2">
                    <ul class="list-unstyled">
                      <li><a href=""><strong>Men's Accessories</strong></a></li>
                      <li><a href="">Bags & Backpacks</a></li>
                      <li><a href="">Belt</a></li>
                      <li><a href="">Caps & Hats</a></li>
                      <li><a href="">Fragrances & Deos</a></li>
                      <li><a href="">Jewellery</a></li>
                      <li><a href="">Sunglasses</a></li>
                      <li><a href="">Scarves & Mufflers</a></li>
                      <li><a href="">Wallets</a></li>
                      <li><a href="">Watches</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <a class="main-link" href="">Women</a>
              <!-- Dropdown Menu Starts-->
              <div class="container womenbg">
                <div class="row">
                  <div class="col-md-2">
                    <ul class="list-unstyled">
                      <li><a href=""><strong>Women's Footwear</strong></a></li>
                      <li><a href="">Casual Shoes</a></li>
                      <li><a href="">Sports Shoes</a></li>
                      <li><a href="">Formal Shoes</a></li>
                      <li><a href="">Slipper's & Flip Flops</a></li>
                    </ul>
                  </div>
                  <div class="col-md-2">
                    <ul class="list-unstyled">
                      <li><a href=""><strong>Women's Clothing</strong></a></li>
                      <li><a href="">T-Shirts</a></li>
                      <li><a href="">Casual Shirts </a></li>
                      <li><a href="">Formal Shirts </a></li>
                      <li><a href="">Sports Shirts</a></li>
                      <li><a href="">T-Shirts</a></li>
                      <li><a href="">Polos</a></li>
                      <li><a href="">Jeans</a></li>
                      <li><a href="">Trousers</a></li>
                      <li><a href="">Capri</a></li>
                    </ul>
                  </div>
                  <div class="col-md-2">
                    <ul class="list-unstyled">
                      <li><a href=""><strong>Women's Accessories</strong></a></li>
                      <li><a href="">Bags & Backpacks</a></li>
                      <li><a href="">Belt</a></li>
                      <li><a href="">Caps & Hats</a></li>
                      <li><a href="">Fragrances & Deos</a></li>
                      <li><a href="">Jewellery</a></li>
                      <li><a href="">Sunglasses</a></li>
                      <li><a href="">Scarves & Mufflers</a></li>
                      <li><a href="">Wallets</a></li>
                      <li><a href="">Watches</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <a class="main-link" href="">Accessories</a>
              <!-- Dropdown Menu Starts-->
              <div class="container">
                <div class="row">
                  <div class="col-md-2">
                    <ul class="list-unstyled">
                      <li><a href=""><strong>Women's Footwear</strong></a></li>
                      <li><a href="">Casual Shoes</a></li>
                      <li><a href="">Sports Shoes</a></li>
                      <li><a href="">Formal Shoes</a></li>
                      <li><a href="">Slipper's & Flip Flops</a></li>
                    </ul>
                  </div>
                  <div class="col-md-2">
                    <ul class="list-unstyled">
                      <li><a href=""><strong>Women's Clothing</strong></a></li>
                      <li><a href="">T-Shirts</a></li>
                      <li><a href="">Casual Shirts </a></li>
                      <li><a href="">Formal Shirts </a></li>
                      <li><a href="">Sports Shirts</a></li>
                      <li><a href="">T-Shirts</a></li>
                      <li><a href="">Polos</a></li>
                      <li><a href="">Jeans</a></li>
                      <li><a href="">Trousers</a></li>
                      <li><a href="">Capri</a></li>
                    </ul>
                  </div>
                  <div class="col-md-2">
                    <ul class="list-unstyled">
                      <li><a href=""><strong>Women's Accessories</strong></a></li>
                      <li><a href="">Bags & Backpacks</a></li>
                      <li><a href="">Belt</a></li>
                      <li><a href="">Caps & Hats</a></li>
                      <li><a href="">Fragrances & Deos</a></li>
                      <li><a href="">Jewellery</a></li>
                      <li><a href="">Sunglasses</a></li>
                      <li><a href="">Scarves & Mufflers</a></li>
                      <li><a href="">Wallets</a></li>
                      <li><a href="">Watches</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <a class="main-link" href="">Kids</a>
            </li>
            <li>
              <a class="main-link" href="">Brands</a>
            </li>
            <li>
              <a class="main-link" href="">Trends</a>
            </li>
            <li>
              <a class="main-link" href="">Sale</a>
            </li>
            <li>
              <a class="main-link" href="">Style Videos</a>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <!--Breadcrumbs -->
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb">
            <li><a href="#">Home</a> <span class="divider"></span></li>
            <li><a href="#">T-Shirts</a> <span class="divider"></span></li>
            <li class="active">Puma</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- Product Section starts -->
    <div class="container">
      <!--Product-main section-->
      <div class="row">
        <div class="col-md-5 thumbs-image">
          <div class="col-md-3">
            <ul class="list-inline">
              <li><a href="#tab1" data-toggle="tab"><img src="images/products/tee1.jpg"></a></li>
              <li><a href="#tab2" data-toggle="tab"><img src="images/products/tee2.jpg"></a></li>
            </ul>
          </div>
          <div class="col-md-9">
            <div class="tab-content">
              <div class="tab-pane active" id="tab1">
                <div class="zoom-container">
                  <a id="zoom-target" href="images/products/tee1.jpg">
                    <img class="zoom-image" src="images/products/tee1.jpg" alt=""/>
                  </a>
                </div>
              </div>
              <div class="tab-pane" id="tab2">
                <img src="images/products/tee2.jpg">
              </div>
            </div>
          </div>
          <!--Add this plugin -->
          <div class="row addthis-social">
            <br>
            <!-- AddThis Button BEGIN -->
            <!--
            <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
              <a class="addthis_button_preferred_1"></a>
              <a class="addthis_button_preferred_2"></a>
              <a class="addthis_button_preferred_3"></a>
              <a class="addthis_button_preferred_4"></a>
              <a class="addthis_button_compact"></a>
              <a class="addthis_counter addthis_bubble_style"></a>
            </div>
            <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51bc173019597874"></script>
          -->
            <!-- AddThis Button END -->
          </div>
        </div>
        <div class="col-md-7">
          <h4 class="product-heading">United color of Benetton Cool T-Shirt</h4>
          <h3 class="product-price"><span class="not">$28</span> $20</h3>
          <p class="product-size"> Select Size : <br>
            <button class="btn btn-size disabled" type="radio">S</button>
            <button class="btn btn-size" name="size" type="radio" value="1">M</button>
            <button class="btn btn-size" name="size" type="radio" value="2">L</button>
            <button class="btn btn-size" name="size" type="radio" value="3">XL</button>
            <button class="btn btn-size" name="size" type="radio" value="4">XXL</button>
          </p>
          <div class="buy-now">
            <a href="">Buy Now</a>
          </div>
        </div>
      </div>
      <!--Product Description -->
      <div class="row">
        <div class="col-md-12 product-desc">
          <h4 class="main-heaidng">Product Description</h5>
          <p>A classic piece of clothing for that romantic date, this United color of Benetton Cool T-Shirt will grab her attention instantly. The black color of this T-shirt makes it affable and desirable. A pair of jeans and suede shoes with this T-shirt will sweep her off her feet.</p>
          <h4> T-Shirt Details</h4>
          <dl class="dl-horizontal">
            <dt>Type</dt>
            <dd>Round Neck</dd>
            <dt>Fabric</dt>
            <dd>100% Cotton</dd>
            <dt>Fit</dt>
            <dd>Comfort Fit</dd>
            <dt>Style</dt>
            <dd>Simple</dd>
            <dt>Sleeve</dt>
            <dd>Half Sleeve</dd>
          </dl>
          <h4>Fabric Care</h4>
          <p>Low Iron at Medium Setting, Wash Inside out with Similar Colors, Dry Clean, Tumble Dry at Low Heat, Machine or Hand Wash at 30°C, Do Not Bleach, Do Not Iron on Print or Embellishments, Dry Inside out in Shade</p>
        </div>
      </div>
    </div>
    <!--FooterStarts-->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <div class="row">
              <div class="col-md-4">
                <h4>Shop</h4>
                <ul class="list-unstyled">
                  <li><a href="">Mens</a></li>
                  <li><a href="">Womens</a></li>
                  <li><a href="">Accessories</a></li>
                  <li><a href="">Sale</a></li>
                  <li><a href="">Accessories & Jewelries</a></li>
                  <li><a href="">Trends</a></li>
                  <li><a href="">Sale</a></li>
                  <li><a href="">Gift Cards</a></li>
                </ul>
              </div>
              <div class="col-md-4">
                <h4>Customer Service</h4>
                <ul class="list-unstyled">
                  <li><a href="">Contact Us</a></li>
                  <li><a href="">Shipping & Delivery</a></li>
                  <li><a href="">Returns</a></li>
                  <li><a href="">Order Status</a></li>
                </ul>
              </div>
              <div class="col-md-4">
                <h4>About Company</h4>
                <ul class="list-unstyled">
                  <li><a href="">Our Stories</a></li>
                  <li><a href="">Origin Story </a></li>
                  <li><a href="">Careers</a></li>
                  <li><a href="">Partners</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="row">
              <h4>Social</h4><br>
              <a href="" class="social-links facebook"><i></i></a>
              <a href="" class="social-links twitter"><i></i></a>
              <a href="" class="social-links googleplus"><i></i></a>
              <a href="" class="social-links pinterest"><i></i></a>
              <a href="" class="social-links youtube"><i></i></a>
            </div>
            <div class="row subscribe-block">
              <h5>Sign Up for the Newsletter</h5>
              <!--Subscribe form-->
              <form>
                <div class="input-group">
                  <input type="text" class="form-control input-lg" placeholder="you@mail.com">
                  <span class="input-group-btn">
                    <button class="btn btn-primary btn-lg" type="button"><i class="fa fa-plus"></i></button>
                  </span>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 payment-gateway">
            <h4>Payment Gateway</h4><br>
            <ul class="list-inline">
              <li>
                <img src="images/payment-gateway/visa.png">
              </li>
              <li>
                <img src="images/payment-gateway/paypal.png">
              </li>
              <li>
                <img src="images/payment-gateway/mastercard.png">
              </li>
              <li>
                <img src="images/payment-gateway/solo.png">
              </li>
              <li>
                <img src="images/payment-gateway/cirrus.png">
              </li>
              <li>
                <img src="images/payment-gateway/western-union.png">
              </li>
              <li>
                <img src="images/payment-gateway/american-express.png">
              </li>
            </ul>
          </div>
        </div>
        <div class="row copyright-footer">
          <ul class="list-inline center">
            <li>
              &copy; GNACODE&nbsp;&nbsp;&nbsp;/
            </li>
            <li><a href=""> All Rights Reserved</a>&nbsp;&nbsp;&nbsp;/</li>
            <li><a href=""> Privacy Policy</a>&nbsp;&nbsp;&nbsp;/</li>
            <li><a href=""> Terms of Use</a></li>
          </ul>
        </div>
      </div>
    </footer>
    <!--Footer Links blocks Ends-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/holder.js"></script>
    <script>
      $('.list-inline > li > a').hover( function(){
        $(this).tab('show');
      });
    </script>
    <script src="js/easyzoom.min.js"></script>
    <script>
      $('#zoom-target').easyZoom({
        parent: 'div.zoom-container'
      });
    </script>
  </body>
</html>